.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.sectionTitle {
  font-size: 32px;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-200);
}