.reviews {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-200);
}

.sectionTitle {
  display: flex;
  justify-content: center;
}