.sprintTasks {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%
}

.sprintTask {
  height: 100%;
}

.cardLabel {
  text-transform: uppercase;
  color: var(--ifm-color-primary);
  font-weight: 700;
  font-size: 0.9rem;
}

.cardContent {
  font-size: 1.2em;
}

.cardBullet {
  font-size: 16px;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.sectionTitle {
  font-size: 32px;
}

.sectionTagline {
  font-size: 1.3em;
}
